body {
    margin: 0px 0px 0px 0px;       
    background-color: #d9bee6;
    font-family: "times new roman";
}

#topbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

#topbar h1, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.topbar-item {
    font-family: "georgia";
    font-size: large;
}

nav {
    align-self: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: "georgia";
}

main {
    padding: 25px;
    background-color: white;
    margin: 10px;
}

#aside-image {
    float:right;
    width: 200px;
    height: 100%;
}