@font-face {
    font-family: kugile;
    src: url(https://csuc-cs-camp-2025.github.io/CS-Camp-25-Anthony-Cruz/fonts/kugile.regular.ttf);
}

body {
    margin: 0px 0px 0px 0px;       
    background-color: #d9bee6;
    font-family: "didot";
}

#topbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

#topbar h1, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    font-family: "georgia";
    font-size: large;
    transition: 
    color 1s;
}

header:hover {
    color: #d9bee6;
}

nav {
    align-self: center;
}

.nav-link {
    color: black;
    font-family: "georgia";
    padding-left: 20px;
}

#banner {
    background-image: url(https://csuc-cs-camp-2025.github.io/CS-Camp-25-Anthony-Cruz/images/banner.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: kugile;
}

#banner h1 {
    margin-left: 200px;
    margin-top: 20px;
    letter-spacing: 7px;
}

#banner p {
    margin-bottom: 20px;
    margin-right: 200px;
    align-self: end;
}

.banner-item {
    margin: 0px;
    font-size-adjust: 1.5;
}
