body {
    margin: 0px 0px 0px 0px;       
    background-color: #dcaef1;
    font-family: "papyrus";
}

#topbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

.topbar-item {
    font-family: "georgia";
    font-size: large;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: "georgia";
}

#gallery {
    display: flex;
    height: auto;
    width: auto;
    box-sizing: content-box;
}

#gallery-picture {
    float: auto;
    padding: 10px;
    height: auto;
    width: 30%;
}

