body {
    margin: 25px 25px 25px 25px;       
    background-color: #dcaef1;
    font-family: "papyrus";
}

#topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gallery {
    display: flex;
    height: auto;
    width: auto;
    box-sizing: content-box;
}

#gallery-picture {
    float: auto;
    padding: 10px;
    height: auto;
    width: 30%;
}

