body {
    margin: 25px 25px 25px 25px;       
    background-color: #dcaef1;
    font-family: "papyrus";
}

h1 {
    color:white;
    text-shadow: 2px 2px 4px black;
}

#kitty{
    position: relative;
    top: 0;
    left: 0;
    filter: invert();
}

#gallery {
    display: flex;
}

#gallery-picture {
    padding: 10px;
    height: auto;
    width: auto;
    object-fit: fit;
}

